@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding: 0px;
  margin: 0px;
  max-width: unset;
  font-family: "Work Sans";
}

.interiorItem:hover p {
  opacity: 1;
}
.mobileElement {
  display: none;
}
.interiorItemP {
  @apply opacity-0 absolute left-2/4 translate-x-[-50%] text-white text-2xl font-bold;
}

.react-wavy-transitions__wavy-link{
  margin: 0px 10px;
}

.contact-curtain {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
 background-image: url(./assets/logo.png);
 background-repeat: no-repeat;
 background-size: 200px;
 background-position: center center;
  overflow: hidden;
}

.productContainer:hover .productImage {
  transform: scale(1.1);
}

.productContainer:hover .productShadow {
  transform: scale(1.2);
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .desktopElement {
    display: none;
  }
  .mobileElement {
    display: flex;
  }
}
